<div fxLayout="column center" fxFlex>
    <mat-vertical-stepper [linear]="true" style="margin-left: 35%">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" novalidate (ngSubmit)="getUsrName()">
                <ng-template matStepLabel>Nombre del usuario</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Nombre usuario" formControlName="usrName" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup" novalidate (ngSubmit)="getRepoName()">
                <ng-template matStepLabel>Nombre del repository</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Nombre repositorio" formControlName="repoName" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Atras</button>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Confirmar</ng-template>
            Has terminado.
            <div style="margin-top: 20px;">
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button mat-raised-button (click)="submitData()">Enviar</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>